.portfolio-sidebar-list-wrapper {
    .portfolio-item-thumb {
        padding: 21px;

     .porfolio-thumb-img img {
         width: 100%;
        }
    
        .title {
        color: $offwhite;
         }
    }
 }
